@font-face {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("arial"),url('../fonts/arialRegular.woff2') format("woff2"),url('../fonts/arialRegular.woff') format("woff");
}